@page
@model ProjectMVC.Pages.Books.BooksModel
@{
}

<table class="table table-hover table-primary">
    <thead>
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Books[0].Title)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Books[0].Description)</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
            @if(User.IsInRole("Mod")||User.IsInRole("Admin"))
            {
                <th scope="col">Mod Options</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            @if (item.Ammount > 0)
            {
        <tr class="table-success">
            <td scope="col">
                @Html.DisplayFor(modelitem => item.BookID)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelitem => item.Title)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelitem => item.Description)
            </td>
            <td scope="col">
                @Html.DisplayFor(modelitem => item.Ammount)
            </td>
            <td>
                <div>
                    <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.BookID">Details</a>
                </div>
            </td>
            @if (User.IsInRole("Mod") || User.IsInRole("Admin"))
            {
                <td><a class="btn btn-warning" asp-page="./ManageAmount" asp-route-id="@item.BookID">Manage Ammount</a></td>
            }
                    else
                    {
                        <td></td>
                    }
        </tr>
            }
            else{
    <tr class="table-danger">
        <td scope="col">
            @Html.DisplayFor(modelitem => item.BookID)
        </td>
        <td scope="col">
            @Html.DisplayFor(modelitem => item.Title)
        </td>
        <td scope="col">
            @Html.DisplayFor(modelitem => item.Description)
        </td>
        <td scope="col">
            @Html.DisplayFor(modelitem => item.Ammount)
        </td>
        <td>
            <div>
                <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.BookID">Details</a>
            </div>
        </td>
        @if (User.IsInRole("Mod") || User.IsInRole("Admin"))
        {
            <td><a class="btn btn-warning" asp-page="./ManageAmount" asp-route-id="@item.BookID">Manage Ammount</a></td>
        }
        else
        {
            <td></td>
        }
    </tr>
            }
        }
    </tbody>
</table>