@page
@model ProjectMVC.Pages.Authoors.AuthorsModel
@{
}
<h1>Currently registered authors:</h1><br />
<table class=" table table-hover">
    <thead class=" table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].AuthorLastName)
            </th>
            <th>
                User Options
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <th>
                    Mod Options
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
            <tr>
                <td scope="col" class="table-warning">
                    @Html.DisplayFor(modelitem => item.AuthorName)
                </td>
                <td scope="col" class="table-warning">
                    @Html.DisplayFor(modelitem => item.AuthorLastName)
                </td>
                <td class="table-secondary">
                    @if (User.IsInRole("Admin") || User.IsInRole("Mod"))
                    {
                        <div>
                            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.AuthorID">Edit</a>
                        </div>
                    }
                    <div>
                        <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.AuthorID">Details</a>
                    </div>
                </td>
                <td class="table-secondary"></td>
            </tr>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {<tr class="table-secondary">
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class=" btn btn-success" asp-page="./Create">Create</a>
            </td>
        </tr>
          }

        </tbody>
    </table>